LOGIN=your_login

# MariaDB
DB_NAME=wordpress
DB_USER=wp_user
DB_HOST=mariadb

# WordPress
DOMAIN_NAME=your_login.42.fr
WP_TITLE=Inception
WP_ADMIN_USR=siteowner
WP_ADMIN_PWD=change_me_admin_password
WP_ADMIN_EMAIL=you@example.com
WP_USR=writer
WP_PWD=change_me_user_password
WP_EMAIL=writer@example.com
